@CHARSET "UTF-8";
* {
	margin:0;
	padding: 0;
}

#myProgress{
	margin: 5px;
}

.tab {
	display: none;
}

#myProgress {
	width: 100%;
	background-color: lightgreen;
}
#myBar {
	width: 1%;
	height: 30px;
	background-color: darkgreen;
}

#barItem {
    flex: 20%;
    color: white;
    font-style: italic;
    font-weight: bold;
}

.autocomplete {
	/*the container must be positioned relative:*/
	position: relative;
	display: inline-block;
}


.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -16px;
}

.col-25 {
	flex: 25%;
}

.col-50 {
	flex: 50%;
}

.col-75 {
	flex: 75%;
}

.col-25,
.col-50,
.col-75 {
	padding: 0 16px;
}

.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-green{color:#fff!important;background-color:#4CAF50}
.w3-green:hover{background-color: #85e589}
.w3-round-large{border-radius:8px}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.container {
	background-color: #f2f2f2;
	padding: 15px 20px 15px 20px;
	border: 1px solid lightgrey;
	border-radius: 3px;
}

.filledField{
    background-color: lightgrey;
    display: inline-block;
}

.subsubcontainer {
    background-color: cyan;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin: 20px;
    display: inline-block;
}

.subcontainer {
    background-color: lightblue;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin: 20px;
    display: inline-block;
}

.buttonsForm {
	display: flex;
	justify-content: space-between;
	align-content: space-between;
}

#orderFormWarning {
    color: red;
}

input.invalid {
	background-color: #ffdddd;
    border-color: red;
}

tr:nth-child(even){
	background-color: #f2f2f2;
	border-left: 5px solid #f2f2f2;
	border-top: 5px solid #f2f2f2;
}

tr:nth-child(odd){
    background-color: #FFF;
    border-left: 5px solid #f2f2f2;
    border-top: 5px solid #f2f2f2;
}



#amount {
	position: relative;
	margin-top: 0px;
	width: 40%;
	float: top;
	margin-left: 5px;
	margin-right: 10px;
}

tr {
	height: 20px;
}

th, td {
	border-bottom: 1px solid #ddd;
}

tr:hover {
	border-left: 5px solid #ccc9c9;
	border-top: 5px solid #ccc9c9;
	background-color: #ccc9c9;
}

.btn {
	flex:35%;
	background-color: #4CAF50;
	color: white;
	padding: 12px;
	margin: 10px;
	border: none;
	width: 35%;
	height: 10%;
	border-radius: 3px;
	cursor: pointer;
	font-size: 17px;
}

.btn:hover {
	background-color: #45a049;
}

body {
	font-family: arial,sans-serif;
	font-size: 90%;
	color: #303d11;
	background-color: #303d11;
}

div#container {
	background-color: #FFF;
	margin: auto;
	margin-top: 10px;
}

footer {
	background-color: #b99703;
}

nav ul {
	list-style: none;
	background-color: #b99703;
	box-sizing: border-box;
	margin-bottom: 1em;
}

#productFilterInput {
	width: 100%; /* Full-width */
	font-size: 16px; /* Increase font-size */
	padding: 12px 12px 12px 12px; /* Add some padding */
	border: 1px solid #ddd; /* Add a grey border */
	margin-bottom: 12px; /* Add some space below the input */
}

nav ul li {
	height: 2em;
	font-size: 150%;
	font-weight: bold;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}

nav ul li a{
	color: #303d11;
	text-decoration: none;
	display: block;
}

nav ul li#actual {
	background-color: #f3dc04;
}


h2, main, footer {
	padding: 15px 10px;
}

h1 {
	background-image: url("../images/bannerKlein.png");
	height: 100px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

h1 span {
	position: absolute;
	right: 15px;
	bottom: 15px;
}

th,td {
	padding: 0.6em 1.2em 0 0;
	text-align: left;
	vertical-align: top;
}

table caption {
	display: none;
}

form {
    margin: 30px 0;
}

.alert-danger {
    padding: 0.5em;
    background-color: #f2dede;
    border: 1px solid #b94a48;
    color: #b94a48;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 1em;
    box-sizing: border-box;
}
.alert-danger ul {
    list-style-type: none;
}

.alert-success {
	padding: 0.5em;
	background-color: #a8ffa0;
	border: 1px solid #036305;
	color: #0ba00e;
	border-radius: 3px;
	width: 100%;
	margin-bottom: 1em;
	box-sizing: border-box;
}
.alert-success ul {
	list-style-type: none;
}
label,input,textarea {
    margin-bottom: 16px;
}
input,textarea {
    border: 1px solid #888;
    margin: 2px 0 16px 0;
    outline: 0 none;
    padding: 0.5em;
    line-height:15px;
    border-radius: 3px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    box-sizing: border-box;
}
.has-error {
    color: #b94a48;
    border-color: #b94a48;
    box-shadow: inset 0px 1px 4px #d59392;
}


/* mobile first */
div#container {
	width: 95%;
}

nav ul li {
	display: block;
	border-bottom: 1px solid #303d11;
}

nav ul li:first-child {
	border-top: 1px solid #303d11;
}

label,input,textarea {
    display: block;
}
input[type="text"], input[type="email"], textarea {
    width: 100%;
}
input {
    height: 25px;
}


/* desktop */
@media screen and (min-width: 650px) {
	div#container {
	max-width: 1000px;
	}
	h1 {
	background-image: url("../images/banner.png");
	}
	
	nav ul {
  	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  	display: -ms-flexbox;  /* TWEENER - IE 10 */
  	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	box-sizing: border-box;
	}
	
	nav ul li {
	width: 33%;
	margin: auto;
	border: none;
	}
	nav ul li:first-child {
	border: none;
	}
	nav ul li a {
	text-align: center;
	}
	footer {
	text-align: right;
	}
	    .alert-danger {
        width: 614px;
    }
    label,input,textarea {
        display: inline-block; 
    }
    label {
        width: 100px;
        text-align: right;
        margin-right: 10px;
    }
    input[type="text"], input[type="email"], input[type="password"], textarea{
        width: 400px;
    }
    input[type="submit"] {
        margin-left: 112px;
    }
    textarea {
        vertical-align: middle;    
    }

	
}

/*
d3bb03 green
977007 brown
303d11 black
f3dc04 yellow
*/
